@tailwind base;
@tailwind components;
@tailwind utilities;


#imageID:hover {
    filter: saturate(300%);
    
}

#outline {
    position: absolute;
    font-size: 135px;
    mix-blend-mode: darken;
    -webkit-text-stroke-width: 0.2px;
    line-height: 1;
    -webkit-text-fill-color: transparent;
}

#arrowID:hover {
    animation-name: float-right;
    animation-duration: .5s;
}

#buttonID {
    background: linear-gradient(to right, black 50%, rgb(216, 68, 68) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: .2s ease-in;
}

#buttonID1 {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: .2s ease-in;
}

#buttonID:hover {
    background-position: left bottom;
    left: -5%;
    transform:  skew(-10deg);
/*
????

*/

}
#buttonID1:hover {
    background-position: left bottom;
    left: -5%;
    transform:  skew(-10deg);
}

@keyframes float-right {
    0% {transform: translate(0, 0px);}
    100% {transform: translate(12px, 0px);}
}

